
@media screen and (min-width: 768px) {
    .container{
        width: 755px;
    }
   
    .advice{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg-tab.jpg)
    }

     @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
     .advice {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
         url(../images/Dark-bg-tab-2x.jpg);
            }}
    .hero-list{flex-wrap: wrap;
                flex-direction: row;
                row-gap: 24px; ;
               
                justify-content: center;
            }
     .cont-hero {
      width: calc((100% - 24px) / 2)
     }
        .header-list {
            display: flex;
            
        }
    
        .header-list-second {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    
        .open-menu {
            display: none;
    }
 

.team-photo{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.li-five{
   width: calc((100%-48) / 3) 
}
.ul-five{
    
    width: 584px;
    height: 360px;
    row-gap: 72px;
    padding: 0;
}

.link-five{
    width: 168px;
}

.content-five-svg{
    padding: 0 108px;
}




.footer{
    display: flex;
    padding: 96px, 0;
}
.all-footer{
    flex-wrap: wrap;
    text-align: left;
    flex-direction: inherit;
  margin-right: 15px;
    align-items: normal;
    width: 766px;
}
.footer-logo{
    margin-right: 24px; 
}
  .footer-logo-second {
      margin-right: 24px;
  }
.footer-p{
    justify-content: inherit;
}
.form{
    justify-content: inherit;
    flex-direction: inherit;
}

.sub-sec{
    margin: 0;
    padding-left: 108px;
   
}

.div-link{
    padding-left: 108px;
    margin-right: 24px;
}


.modal {
    width: 408px;
}
.js-open-menu{display: none;};
}


@media screen and (min-width: 1158px){
    .container {
            width: 1158px;
        }
    .header-list {
          display: flex;
                }
    .header-list-second {
       display: flex;
       flex-direction: row;
       gap: 12px;
     }
      
     .open-menu {
        display: none;
     }
    .contacts{
        flex-wrap: nowrap;
    }
        .hero-p {
            width: 1128px;
        }
    
        .advice {
            padding-top: 188px;
            padding-bottom: 188px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg.jpg)
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
         .advice {
            max-width: 2560px;
             background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
             url(../images/Dark-bg-2x.jpg);
            }
        }
        
                .all-footer {
                    display: flex;
                    align-items: baseline;
                    flex-wrap: nowrap;
                
        
                }
        
               
                .footer-p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color: var(--background-color-sec);
                    letter-spacing: 0.02em;
                    max-width: 264px;
                }
                .sub-sec{
                    padding-left: 80px;
                }
        
                .form {
                    display: flex;
                    gap: 24px;
                }
        
.cont-hero {
 width: 100%;
}

.hero {
    padding: 120px 0;

}

.hero-p{
    width: 264px;
}

.hero-p {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-b);
}

.hero-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.hero-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}





.about{
    display: flex;
}


 .ul-five {
    height: 88px;
    width: 100%;
     flex-wrap: nowrap;
     justify-content: center;
 }

 .li-five {
     width: calc((100% - 120px) / 6);
 }



.modal{
    width: 408px;
}

.js-open-menu{
    display: none;
}






        
}